/out

/index.js
/index.js.map
/index.d.ts
/index.mjs
/index.mjs.map
/index.d.mts

/examples/*-example/*.js
/examples/*-example/*.mjs
/examples/*-example/*.wasm

/tests/*/*.js
/tests/*/*.mjs
/tests/*/*.wasm
/tests/*-dist/

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
