/.cache
/.parcel-cache
/node_modules
/dist
/build/ncurses-*
/build/vim*
/build/sl-*
/build/downloads
/static/workerTools.js
/static/*.wasm
/static/*.data
/static/*-core.js
/static/*.worker.js
/static/*.worker.mjs
/static/ncurses.fs.js
